:root{
--main-color:#fffaf2;
--main-text-color:#333;
--font-weight-bold:700;
--font-weight-semi:600;
--font-weigth-regular:400;
--h1-font-size:64px;
--h2-font-size:24px;
--text-line-height:30px;

}
*{
  box-sizing: border-box;
}
body{
  font-family:'Libre Franklin', sans-serif;
}
body, div, ul, h1, h2, h3{
  margin: 0;
  padding: 0;
}
ul, ol{
list-style: none;
}
a{
  text-decoration: none;
}
