.main{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px;
}
.main__container{
    background-color: blueviolet;
    width: 200px;
    height: 200px;
}