:root{
    --web-color:#DFAD63;
    --privat-color:#5982C0;
    --ofline-color:#A0A0A0;
    --online-color:#8BB47D;
    --main-text-color:#3C3C3C;
    --main-color:#fff;
    --main-background-color:#E5E5E5;
    --font-weight-bold:700;
    --font-weight-regular:400;
    --font-weight-semi:600;
    --font-weight-medium:500;
    --a-font-size:28px;
    --p-font-size:18px;
}
*{
    box-sizing: border-box;
}
div, p, ol, ul, li{
    list-style: none;
    font-family:'Raleway', sans-serif;
}
header, footer, a{
    font-family: 'Orbitron', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

