.container {
  padding: 60px 0 16px 0;
}
.main-header {
  height: 70px;
  width: 100%;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 161px;
}
.main__header-left {
  display: flex;
  align-items: center;
}
.main-header__logo {
  background-repeat: no-repeat;
  margin-left: 54px;
  display: flex;
}
.main__header-link {
  font-size: var(--a-font-size);
  color: var(--main-text-color);
  margin-left: 13px;
  font-weight: var(--font-weight-bold);
}
.main__header-text {
  color: var(--main-text-color);
  font-size: var(--p-font-size);
  position: relative;
  font-weight: var(--font-weight-regular);
  font-size: var(--p-font-size);
  padding-left: 25px;
  margin-left: 64px;
}
.main__header-text::after {
  position: absolute;
  content: "";
  background-color: var(--online-color);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.main-header__coin {
  width: 16.67px;
  height: 16.67px;
  display: flex;
}
.coin__img {
  display: inline;
}
.main__header-cashcoin {
  font-size: 24px;
  font-weight: var(--font-weight-semi);
  display: inline;
}
.header__link-coin {
  color: #52719f;
  font-weight: var(--font-weight-regular);
  font-size: 16px;
}
.content__container {
  background-color: var(--main-background-color);
  display: flex;
  flex-wrap: wrap;
}
.container__content-text {
  padding: 59px;
  font-weight: var(--font-weight-semi);
  font-size: var(--a-font-size);
}
.container__section {
  padding: 35px 40px;
  flex-wrap: wrap;
  display: flex;
  align-content: space-between;
  justify-content: center;
}
.container__section-content {
  width: 304px;
  height: 393px;
  background-color: var(--main-color);
}
.contaienr__img {
  width: 304px;
  height: 171px;
}
.container__head-text {
  font-weight: var(--font-weight-bold);
  font-size: var(--p-font-size);
  margin-left: 25px;
  margin-top: auto;
}
.container__body-text {
  font-weight: var(--font-weight-regular);
  font-size: 14px;
  margin-left: 25px;
}
.btn__web {
  background-color: var(--web-color);
  width: 200px;
  height: 32px;
  color: var(--main-color);
  border: none;
  border-radius: 4%;
  position: relative;
  left: 18%;
}
.btn__web:hover {
  border: 2px #f6b758;
  background-color: #dfad63;
}
.btn__web:active {
  background-color: #f6b758;
}
.btn__online {
  background-color: var(--online-color);
  width: 200px;
  height: 32px;
  color: var(--main-color);
  border: none;
  border-radius: 4%;
  position: relative;
  left: 18%;
}
.btn__online:hover {
  background-color: var(--online-color);
  border: 2px #82dc64;
}
.btn__online:active {
  background-color: #82dc64;
}
.btn__private {
  background-color: var(--privat-color);
  width: 200px;
  height: 32px;
  color: var(--main-color);
  border: none;
  border-radius: 4%;
  position: relative;
  left: 18%;
}
.btn__private:hover {
  background-color: var(--privat-color);
  border: 2px #679ceb;
}
.btn__private:active {
  background-color: #679ceb;
}
.btn__masseg {
  background-color: var(--ofline-color);
  width: 200px;
  height: 32px;
  color: var(--main-color);
  border: none;
  border-radius: 4%;
  position: relative;
  left: 18%;
}
.btn__masseg:hover {
  background-color: var(--ofline-color);
  border: 2px #c1c1c1;
}
.btn__masseg:active {
  background-color: #c1c1c1;
}
.footer{
  width: 100%;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer__logo{
  background-repeat: no-repeat;
    margin-left: 54px;
}
.footer__logo-text{
  font-size: var(--a-font-size);
    color: var(--main-text-color);
    margin-left: 13px;
    font-weight: var(--font-weight-bold);
}
.footer__nav-title{
  display: flex;
  align-items: center;
  column-gap: 75px;
  justify-content: space-around;
}
.footer__nav-menu{
  cursor: pointer;
  font-weight: var(--font-weight-semi);
  font-size: 16px;
}